/* Global styles
------------------------------------*/
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

:root {
   --blue: #b8c0ff;
   --bluepurple: #c0bbff;
   --purple: #c8b6ff;
   --lavender: #d8beff;
   --lightpurple: #e7c6ff;
}
body {
  color: whitesmoke;
  margin: 0;
  padding: 0;
  font-family: 'Amatic SC', cursive;
  font-size: 25px;
  line-height: 1.5;
}

header {
  background-color: var(--blue);
}

img {
  width: 300px;
}
a:hover {
  text-decoration: none;
}

h1 {
  font-size: 100px;
  line-height: 1;
}
h2 {
  font-size: 55px;
}

h1, h2 {
  font-family: 'Amatic SC', cursive;
  font-weight: 700;
  margin: 0;
}
.content-wrap {
  width: 800px;
  margin: 0 auto;
  padding: 60px 0;
}



/* Profile
------------------------------------*/



/* Projects
------------------------------------*/
.projects {
  background-color: var(--bluepurple);
}



/* Work Experience
------------------------------------*/
.work-experience {
  background-color: var(--purple);
}


/* Education
------------------------------------*/
.education {
  background-color: var(--lavender);
}


/* Contact Info
------------------------------------*/
footer {
  background-color: var(--lightpurple);
}
